body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;

    min-height: 90px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    margin: 0px;

}
.navigation{
    display: none;
}

.button {
    border-radius: 60px;
    border: 2px;
    padding: 16px 20px;
    width: 200px;
    font-size: 15px;
    color: white;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));

}

.header_button {
    display: none;
}

.logo {
    display: flex;
    align-self: center;
    margin-left: 2rem;
    min-height: 30px;

}




.container1 {

    display: flex;
    height: 1200px;
    flex-direction: column;
    align-items: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);


}

.container1_text {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 50%;

    order: 2;

}


.container1_image {
    display: flex;

    width: 100%;
    height: 50%;

    background-image: url('./images/image-mockups.png'), url('./images/bg-intro-desktop.svg');

    background-repeat: no-repeat;
    background-position-y: 0%, 90%;
    background-position-x: 0%, 50%;


}


.container1_button {

    border-radius: 60px;
    border: 2px;
    padding: 15px 20px;
    width: 200px;
    margin-top: 8%;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}


.text1 {
    width: 90%;
    text-align: center;
    font-weight: 300;
    font-size: 140%;

    color: hsl(233, 26%, 24%);
}


.paragraph {
    font-size: 1rem;
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    line-height: 2rem;
}


.mockup {
    width: 40%;


}

.box {

    height: 500px;
    background-color: hsl(0, 0%, 98%);

}



nav li {

    display: inline-block;
    list-style-type: none;
    padding-left: 20px;
    align-self: center;
    padding: 0px 20px;
    cursor: pointer;
    margin: 0px;

}

nav li a {

    font-size: 20px;
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    font-weight: 300px;

}




.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(220, 16%, 96%);
}

.c2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: hsl(233, 26%, 24%);


}
.container2_heading{
    display: flex;
    justify-content: center;
    text-align: center;
    color: hsl(233, 26%, 24%);
}

.c2_para {
    width: 24rem;
    text-align: center;
    color: hsl(233, 26%, 24%);

}

.container3 {
    background-color: hsl(0, 0%, 98%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container3_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}


.container3_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.art {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;

    background-color: white;
    width: 85%;
    align-self: center;
    margin-bottom: 10%;
    border-radius: 2%;

}


.art_image {

    width: 100%;
    height: 50%;


}

.art_text1 {
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
    margin-bottom: 5%;

}

.art_text2 {
    color: hsl(233, 26%, 24%);
    font-size: 25px;
    margin: 0;
    font-weight: 300;
}

.art_text3 {
    color: hsl(233, 8%, 62%);
    line-height: 150%;
}

.art_text {
    align-self: center;
    width: 80%;
    height: 50%;
    margin-top: 0;
    margin-bottom: 10%;
}

.art_image img {
    width: 100%;
    height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.latest_article {
    font-size: 3rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}


.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-content: center;
    background-color: hsl(233, 26%, 24%);
}

.footer_logo {
    color: white;

    display: flex;

    align-self: center;

}
.fdiv1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fcontainer1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer_menu1{
    color: white;
 text-align: center;
}

.footer_menu2{
    margin-top: 0;
    
    color: white;
    padding-top: 0;
    text-align: center;
}
.footer_icon {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  width: 300px;
    height: 50px;

}


.ficon {
    margin-top: 5%;
    display: flex;
    width: 40%;
    height: 50%;
    justify-content: center;


}

.fimage {
    width: 30%;
}
.fdiv2{
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
.fc{
    display: flex;
    flex-direction: column;
}
.fbutton {
    align-self: center;
    border-radius: 60px;
    border: 2px;
    padding: 15px 20px;
    width: 200px;
    margin-top: 8%;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.last {
    margin-top: 5%;
    align-self: center;
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
    font-weight: 400;
}



@media (min-width:480px) {
    header {
        display: flex;
        min-height: 90px;
        margin: 0;
        align-items: center;

        margin: 0px;


    }
    .navigation{
        display: flex;
    }

    .header_button {
        border-radius: 60px;
        border: 2px;
        padding: 16px 20px;
        width: 200px;
        font-size: 15px;
        color: white;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        margin-right: 15rem;
        display: block;


    }

    .logo {
        display: flex;
        align-self: center;
        margin-left: 6rem;
        min-height: 30px;

    }


    .container1 {
        display: flex;
        height: 700px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        align-items: center;
        background-color: hsl(0, 0%, 98%);


    }

    .container1_text {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        width: 50%;
        height: 100%;
    }


    .container1_image {
        display: flex;
        order: 2;
        width: 50%;
        height: 100%;
        background-position-y: 80%, 90%;
        background-position-x: 0%, 50%;
    }



    .container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        background-color: hsl(220, 16%, 96%);
    }
    
    .c2 {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
        height: 100%;
        color: hsl(233, 26%, 24%);
        
    
    }
    
    .c2_para {
        width: 80%;
        text-align: center;
        color: hsl(233, 26%, 24%);
        text-align: left;
       word-wrap: break-word;
    }
    
    .container3 {
        background-color: hsl(0, 0%, 98%);
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  
    .container2_content{
        display: flex;
        flex-direction: row;
        height: 60%;
        justify-content: center;
    }
 
    .container2_heading{
        margin-left: 150px;
        display: flex;
        justify-content: flex-start;
    }
    .container2_p{
  
        display: flex;
        width: 50%;
        margin: 0;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        font-size: 20px;
    }




    .container3 {
        background-color: hsl(0, 0%, 98%);
    
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        
    }
    .latest_article{
        margin: 0;
    }

    .container3_head{
        display: flex;
        align-self: flex-start;
        margin-left: 4%;
        margin-top: 4%;
    }


    .container3_card{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 900px;
        margin: 0;
      
      
    }
    
    .art {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    
        background-color: white;
        width: 20%;
        
        align-self: center;
        height: 700px;
        border-radius: 2%;
        margin: 0;
    
    }
    
    
    .art_image {
    
        width: 100%;
        height: 50%;
    
    
    }
    
    .art_text1 {
        color: hsl(233, 8%, 62%);
        text-align: left;
    
    
    }
    
    .art_text2 {
        color: hsl(233, 26%, 24%);
        font-size: 25px;
        margin: 0;
        font-weight: 300;
    }
    
    .art_text3 {
        color: hsl(233, 8%, 62%);
        line-height: 150%;
        font-size: 1rem;
    }
    
    .art_text {
        align-self: center;
        width: 80%;
        height: 50%;
        margin-top: 0;
        margin-bottom: 10%;
    }
    
    .art_image img {
        width: 100%;
        height: 90%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .latest_article {
        font-size: 3rem;
        font-weight: 300;
        color: hsl(233, 26%, 24%);
    }
    





    .footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 300px;
        justify-content: center;

        background-color: hsl(233, 26%, 24%);
    }
    
    .footer_logo {
        color: white;
    
        display: inline-block;
    
        align-self: center;
    
    }
    
    .footer_menu {
        height: 100%;
        
        display: flex;
        flex-direction: row;
        align-self: center;
        color: white;
        margin: 0;
       
    }
    .footer_menu1{
     
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        color: white;

    }
    .footer_menu2{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        margin-left: 25px;
        color: white;
    }
    .fcontainer1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer_logo{
        height: 10%;
    }
    
    .footer_icon {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 400px;
    
    }
    
    .fcontianer3{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-content: flex-end;
        

    }
    .fdiv1{
        display: flex;
        width: 60%;
        flex-direction: row;
        justify-content: space-around;
    }
    .fdiv2{
        display: flex;
        width: 40%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .ficon {
      
        display: flex;
        height: 50%;   
        width: 20%;
    
    }
 
    
    .fimage {
        width: 30%;
    }
    
    .fbutton {
       
       
        border-radius: 60px;
        border: 2px;
        padding: 15px 20px;
        width: 200px;
        margin-top: 8%;
        font-size: 20px;
        color: white;
        background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }
    
    .last {
        margin-top: 5%;
        align-self: center;
        color: hsl(233, 8%, 62%);
        font-size: 1rem;
        font-weight: 400;
    }
    
}